.container{
  text-align: center;
  margin-top: 100px;
}

/* .col-xs-1{
  width: 100%;
} */

.col-xs-10{
  margin: calc(100%/12 * 1);
}

.col-lg-8{
  margin-left: calc((100% / 12) * 2);
  margin-right: calc((100% / 12) * 2);
  border-bottom: 2px solid black;
}

.col-md-8{
  margin-left: calc((100% / 12) * 2);
  margin-right: calc((100% / 12) * 2);
  border-bottom: 2px solid black;
}

.col-xs-8{
  margin-left: calc((100% / 12) * 2);
  margin-right: calc((100% / 12) * 2);
  border-bottom: 2px solid black;
}

.col-xs-8 img{
  height: 50px;
  font-size: 13px;
}

img{
  height: 200px;
}

.col-lg-8 img{
  background-color: #428bca;
  border-radius: 180px;
  padding: 30px;
}
