.container{
  text-align: center;
  margin-top: 100px;
}

.col-lg-8{
  margin-left: calc((100% / 12) * 2);
  margin-right: calc((100% / 12) * 2);
  border-bottom: 2px solid black;

}

img{
  height: 200px;
}

.col-lg-8 img{
  background-color: #428bca;
  border-radius: 180px;
  padding: 30px;
}
